@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    padding: 0 10;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: #0D6EFD;
}

.wrapper {
    width: 720px;
    background: #fff;
    border-radius: 5px;
}

.wrapper header {
    font-size: 22px;
    font-weight: 600;
    padding: 20px 30px;
    border-bottom: 1px solid #bfbfbf;
}

.wrapper form {
    margin: 35px 30px;
}

form .dbl-field {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    justify-content: space-between;
}

.dbl-field .field {
    height: 50px;
    position: relative;
    width: calc(100% / 2 - 13px);
}

form .field input,
form .message textarea {
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 18px 0 48px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
}

form .field input::placeholder,
form .message textarea::placeholder {
    color: #bfbfbf;
}

form .field input:focus,
form .message textarea:focus {
    border: 2px solid #0D5EFD;
}

.wrapper form i {
    position: absolute;
    left: 18px;
    top: 50%;
    color: #bfbfbf;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
}

form .field input:focus ~ i,
form .message textarea:focus ~i {
    color: #0D5EFD;
}

form .message {
position: relative;
}

form .message i {
    top: 20px;
    font-size: 20px;
}

form .message textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 120px;
    max-height: 300px;
    padding: 15px 20px 0 48px;
}

form .button-area {
    margin: 25px 0;
    display: flex;
    align-items: center;
}

.button-area button {
    font-size: 18px;
    border: none;
    color: #fff;
    border-radius: 5px;
    background: #0D5EFD;
    padding: 13px 25px;
    cursor: pointer;
}

.button-area span {
    color: #0D5EFD;
    margin-left: 30px;
}

@media (max-width: 600px) {
    .wrapper header {
        text-align: center;
    }

    form .dbl-field{
        margin-bottom: 0px;
        flex-direction: column;
    }
    
    form .button-area {
        flex-direction: column;
    }

    form .message textarea {
        resize: none;
    }

    .dbl-field .field {
        flex-direction: column;
    }

    .dbl-field .field {
        width: 100%;
        margin-bottom: 20px;
    }

    .button-area button {
        width: 100%;
    }

    .button-area span {
        margin: 20px 0;
        text-align: center;
    }

}